/*
  colors for site
  #2b6777 (a lighter teall)
  #c8d8e4 (greyblue-ish)
  #ffffff (simple)
  #f2f2f2 (lighter greywhite-ish)
  #52ab98 (greenblue mix)

*/

/* body {
    background-color: #ffffff;
    font-family: "Helvetica";
    text-align: center;
    padding-top: 10%;
  } */

  .CreatePoll {
    margin-top: 13%;
    margin-left: 35%;
  }  
  .poll_form{
    background-color: #ffffff;
    box-shadow: 5px 5px 5px 5px #c8d8e4;
    border-radius: 25px;
    text-align: left;
    display:inline-block;
    width: 500px;
    max-width: 500px;
    margin: auto;
    height: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    position: relative;
    top:-190px;
  }
  
  
  /* for the title of the form "Create a Poll"*/
  .CreatePoll h1 {
    text-align: center;
    color: black;
    font-weight: lighter;
    font-size: 40px;
  }
  
  /* css for the submission button to create the poll */
  .poll_form input[type = button], input[type = submit], input [type = reset] {
    border-radius: 2px;
    border: none;
    display:inline-block;
    margin-bottom: 15px;
    background-color: #2b6777 ;
    color: white;
  
    /* centers the button within the form */
    text-align: center;
    margin:auto;
    display: flex;
    
  
  }
  
  /* css for the text inputs */
  .poll_form input[type = text], input [type = reset] {
  
    outline: 0;
    border-width: 0 0 2px;
    border-color: #2b6777;
    margin-left: 80px;
    width: 300px;
    margin-bottom: 15px;
  }
  
  /* css for the checkbox responses (make public and disclaimer)*/
  .poll_form input[type = checkbox], input [type = reset] {
  
    outline: 0;
    border-width: 0 0 2px;
    border-color: #2b6777;
    margin-left: 80px;
    margin-bottom: 20px;
  
  }
  /* CSS for the add answer button */
  .button {
    display: flex;
    margin-left: 80px;
    border: none;
    background-color: #2b6777;
    color: white;
    border-radius: 2px;

    
  }
  .disclaimer {
    height: 13px;
    width: 13px;
  }
  
  .submit {
    border: none;
    background-color: #2b6777;
    color: white;
    position: relative;
    left:210px;
    border-radius: 2px;;
  }
  
  
  /* for the title section heading */
  .CreatePoll p {
    color: black;
    font-size: 19px;  
    display: flex;
    margin-left: 80px;
    font-style: italic;
  
    margin-bottom: 15px;
  }

  .create__options{
    margin-top: 20px;
  }