.Home {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.home__feed {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 680px;
    border-radius: 10px;
}

.home__post {
    background-color: rgba(245, 245, 245, 0.616);
    display: flex;
    flex-direction: row;
    padding:15px;
    width: 680px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.post__left {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.post__input {
    width: 600px;
    height: 40px;
    border-radius: 25px;
    border-width: 0px;
    padding-left: 16px;
}