.searchInput {
    display: flex;
}

.search input {
    background-color: white;
    font-size: 18px;
    padding: 15px;
    padding-right: 0px;
    height: 40px;
    width: 30vw;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-width: 1px;
    border-right: none;
}

.searchButton {
    background-color: white;
    border: 1px solid black;
    border-left: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 50px;
    height: 40px;
}

.searchIcon {
    height: 30px;
    width: 30px;
    margin-top: 4px;
    margin-right: 7px;
}

.searchIcon :hover{
    cursor: pointer;
}

input:focus {
    outline: none;
}


.dataResult {
    margin-top:5px;
    width: 300px;
    height:200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
}

.dataResult::-webkit-scrollbar{
    display: none;
}