.Search{
    display: flex;
    flex-direction: row;
    align-items: center;
    position:relative;
}

.search__input input{
    padding-left: 35px;
    padding-right: 10px;
    background: url("search-icon.png") no-repeat;
    background-position: 3% 50%;
    background-size: 25px;
    height: 40px;
    width: 100%;
    min-width:200px;
    font-size: 18px;
    border-radius: 20px;
    border-width: 1px;
}

/* .searchInput {
    display: flex;
    width:200px;
}

.search input {
    background-color: white;
    font-size: 18px;
    padding: 15px;
    padding-right: 0px;
    height: 40px;
    width: 220px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-width: 1px;
    border-right: none;
    position:relative; 
    top:-165px;
    right:165px;
    
    
}

.searchButton {
    background-color: white;
    border: 1px solid black;
    border-left: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 50px;
    height: 40px;
    position:relative; 
    top:-165px;
    right:165px;

}

.searchIcon {
    height: 30px;
    width: 30px;
    margin-top: 4px;
    margin-right: 7px;
}

.searchIcon :hover{
    cursor: pointer;
}

input:focus {
    outline: none;
}


.dataResult {
    margin-top:5px;
    width: 300px;
    height:200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
}

.dataResult::-webkit-scrollbar{
    display: none;
} */