.Popup{
    position: absolute;
    width: 200px;
    height: 100px;
    max-height: 70vh;
    margin-top: 135px;
    background: #fff;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #999;
    overflow: hidden;
    z-index: 10;
    left: 90%;
    transform: translate(-50%, -50%);
}

.popup__title, .popup__details{
    font-size: 12px;
}