.Search{
    display: flex;
    flex-direction: column;
    position: relative;
    top:20px;
}

.result__query{
    position:relative; 
    border-bottom: 1px solid black;
    font-size: 20px;
    width: 700px;
    padding-bottom: 10px;
    position:relative; 
    bottom:5px;
}

.user__results {

    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 700px;
    height: 200px;
    margin-bottom: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 10px;
    position: relative;
    top:10px;
}

.user__left {
    float: left;
    width: 180px;
    height: 180px;
    margin-left: 15px;
}
.user__center {
    float: left;
    margin-left: 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    right:200px;
}

.user__right {
    display: flex;
    margin-top: 75px;
    padding-left: 150px;
}


.search__username {
    font-size: 40px;
    font-weight: 700;
}

.user__center:hover, .user__left:hover   {
    cursor: pointer;
}

.search__pollCount, .search__followers{
    font-size: 14px;
    margin-bottom: 5px;
}

.search__followUser{
    box-sizing: border-box;
    background: #9BCCE1;
    border: 1px solid #9BCCE1;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    color:White; 
    font-weight: 500;
    position: relative;
    bottom:35px;
}

.search__results {
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative; 
}

.poll__results {
    background-color: whitesmoke;
    padding: 15px;
    margin-bottom: 10px;
    width: 700px;
    border: 1px #ecebeb;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 10px;
    position: relative;
    top:10px;
}

.result__bottom{
    display: flex;
    font-size: small;
    margin-top: 10px;
    margin-bottom: -20px;
}

.result__left{
    display: flex;
    width: 120px;
    justify-content: space-between;
}

.result__created{
    display: flex;
    margin-left: auto;
    margin-right: 0;
}

.result__title:hover{
    cursor: pointer;
}
.result__created:hover {
    cursor: pointer;
}

/* .poll_results p{
    font-size: 9pt;
    display: inline-block;
}

.result__views, .result__likes{
    padding-right: 20px;
    position: relative;
    top:35px;
}

.result__created {
    float: right;
    padding-right: 20px;
    position: relative;
    top:40px;
}

.result__query{
    position:relative; 
    top:-180px;
}

.result__categories {
    position:relative; 
    top:20px;
    font-size: 15px;
}
.result__title {
    position:relative; 
    top:5px;
    font-size: 24px;
}

.poll_title:hover {
    cursor: pointer;
}

.created:hover{
    cursor: pointer;
} */
/* .result__bottom{
    margin-bottom: 5px;
} */