.details_pop__up{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.details_userCard{
    width: 500px;
    height:500px;
    border: 1px solid black; 
    border-radius: 30px;
    display:flex;
    flex-direction: column;
    overflow: hidden;
    background-color: white;
    padding: 50px;
}

.details_title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 25px;
}

.details_info{
    margin-bottom: 20px;
    font-size: 20px;

}

.details_firstN, .details_lastN {
    border-top:1px;
    border-color:#a4d9f8;
    border-left: none;
    border-right:none;
    width: 280px; 
    margin-left: 20px;
}

.details_fN, .details_lN, .details_bday, .details_sx {
    display: flex;
    margin-bottom: 40px;
    align-items: end;
}

.details_userBirthday {
    margin-left: 40px;
}

.details_userSex {
    margin-left: 80px;
}

.details_submitInfo{
    border-radius: 25px;
    border:none; 
    background-color: #a4d9f8;
    color:white;
    font-weight: 800;
}

/* .details_submitInfo{
    border-radius: 25px;
    border:none; 
    background-color: #a4d9f8;
    color:white;
    font-weight: 800;
    position: relative;
    bottom:-80px;
    left:110px;
}

.details_fN, .details_lN, .details_bday, .details_sx {
    font-weight: 200;
    position: relative;
    right:38px;
    top:35px;

}
.details_fN, .details_lN {
    position: relative;
    left:0px;
    margin: 5px;
}
.details_bday{

    margin-top: 10px;
    margin-bottom: 1px;
}
.details_sx {
    position: relative;
    right:61px;
    top:45px;
    left:-30px;
    margin-top: 5px;
}

.details_userSex {
    position: relative;
    right:42px;
    top:35px;
    left:-5px;
}

.details_userBirthday {
    position: relative;
    top:40px;
    left:50px;
}

.details_firstN, .details_lastN {
    border-top:1px;
    border-color:#a4d9f8;
    border-left: none;
    border-right:none;
    position: relative;
    left:105px;
    width:300px; 
    top:35px;
}

.details_title{
    position: relative;
    left:100px;
    font-weight:bold;
    margin-top: 20px;
    margin-bottom: -10px;
    
} */


